@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-left a,
.nav-links-right a,
.nav-links-left i,
.nav-links-right i {
  padding: 0.8rem;
  color: #666;
  text-decoration: none;
}

.nav-links-right {
  object-fit: contain;
}

.user-image {
  border-radius: 50%;
  max-width: 10%;
  padding: 0;
}

.logo-container img {
  display: flex;
  flex-shrink: 1;
  max-width: 20%;
  height: auto;
  margin: auto;
}

.form-group {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  font-size: 1.2rem;
  top: 37%;
  left: 31%;
  color: #ccc;
}

.search-input {
  display: flex;
  justify-content: center;
  z-index: -5;
  width: 100vw;
}

.search-input input {
  width: 40%;
  height: 3rem;
  border-radius: 25px;
  border: solid 2px #ccc;
  margin: 2rem;
  text-indent: 40px;
}

.search-input input:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.search-microphone {
  position: absolute;
  width: 1.9rem;
  height: auto;
  top: 34%;
  right: 31%;
}

.submit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-buttons button {
  background-color: #F8F9FA;
  color: #3D4144;
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  padding: 1rem;
  margin: 0 0.5rem 0.5rem 1rem;
}

.language {
  text-align: center;
}